<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ejercicio 4 de la práctica 1 del bloque 2" />
    <meta name="author" content="Heber M.Rodriguez Cabrera - 1 DAW" />

    <script src="https://kit.fontawesome.com/a35b8b496f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../styles.css" />

    <title>Ejercicio 4 - Práctica 1 bloque 2</title>
    <link rel="icon" href="../Images/AVPalmaLogo.png" />
</head>
<body>
    <header>
        <div class="logoContainer">
            <img src="../Images/AVPalmaLogo.png" alt="Logotype" class="logotype" />
        </div>
        <h1>Associació de Veïns Palma</h1>
    </header>

    <main>
        <nav>
            <h1>Els nostres tallers</h1>
            <h4>QUÈ OFERIM?</h4>
            <div class="separador"></div>
            <p><a href="../index.html"><i class="fas fa-arrow-left"></i>INICI</a></p>
        </nav>

        <!-- 4 Tarjetas con los talleres disponibles -->
        <section class="activContainer">
            <!-- Card 1 -->
            <div>
                <img src="../Images/illustration-1.svg" alt="cardimg-1" />
                <h5>Activa't</h5>
                <p>
                    Activitats per posar en marxa el nostre motor vital; pilates, ioga, gimnàstica, zuma… i moltes altres més.
                </p>
            </div>
            <!-- Card 2 -->
            <div>
                <img src="../Images/illustration-2.svg" alt="cardimg-2" />
                <h5>Relaciona't</h5>
                <p>
                    Activitats grupals a on aprendre diferents estils de ball i a la vegada relacionar-se amb més gent.
                </p>
            </div>
            <!-- Card 3 -->
            <div>
                <img src="../Images/illustration-3.svg" alt="cardimg-3" />
                <h5>Crea't</h5>
                <p>
                    Activitats relacionades amb la creativitat i la estimulació de la psicomotricitat fina; brodats, guitarra…
                </p>
            </div>
            <!-- Card 4 -->
            <div>
                <img src="../Images/illustration-4.svg" alt="cardimg-4" />
                <h5>Forma't</h5>
                <p>
                    Activitats per treballar el sistema cognitiu i a la vegada aprendre; memòria, idiomes, informàtica…
                </p>
            </div>
        </section>
    </main>
    <footer>
        <p>Heber M.Rodriguez Cabrera</p>
        <p>Data de creació <time datetime="2022-01-02">02-01-2022</time></p>
    </footer>
</body>
</html>