<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ejercicio 4 de la práctica 1 del bloque 2" />
    <meta name="author" content="Heber M.Rodriguez Cabrera - 1 DAW" />

    <script src="https://kit.fontawesome.com/a35b8b496f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../styles.css" />

    <title>Ejercicio 4 - Práctica 1 bloque 2</title>
    <link rel="icon" href="../Images/AVPalmaLogo.png" />
</head>
<body>
    <header>
        <div class="logoContainer">
            <img src="../Images/AVPalmaLogo.png" alt="Logotype" class="logotype" />
        </div>
        <h1>Associació de Veïns Palma</h1>
    </header>

    <main>
        <nav>
            <h1>Els Objectius</h1>
            <h4>D'INTERÈS GENERAL, SENSE AFANY DE LUCRE, OBERTA A TOTES I TOTS</h4>
            <div class="separador"></div>
            <p><a href="../index.html"><i class="fas fa-arrow-left"></i>INICI</a></p>
        </nav>
        
        <!-- Descripcion de objetivos más imagen libre copyright -->
        <article class="descripcion">
            <p>
                Els objectius de la nostra entitat estan dirigits a defensar els interessos generals dels veïns al territori d’actuació del barri.<br/> Aquest queden definits als estatuts que regeixen a l’entitat.<br/> La seva darrera actualització es va realitzar durant l’assemblea general celebrada el 28 de setembre del 2016.<br/> Y són els següents:
            </p>
            <img src="../Images/illustration-5.svg" alt="townIlustration">
        </article>

        <!-- 4 Tarjetas con texto objetivos -->
        <section class="cardContainer">
            <div>
                <h4>Defensa dels interessos</h4>
                <p>Defensar els interessos generals dels veïns, en qualitat d’usuaris i destinataris finals de l’activitat urbanística, cultural, esportiva, eductiva, sanitària, d’habitatge, social, econòmica, de consum de participació en assumptes d’interès general de la ciutat, etc., fomentant les mesures participatives més adequades.</p>
            </div>
            <div>
                <h4>Informar i donar suport...</h4>
                <p>Informar i donar suport als veïns en totes les qüestions que afectin els seus interessos generals.</p>
            </div>
            <div>
                <h4>Assumir la representació...</h4>
                <p>Assumir la representació dels veïns de l’àmbit territorial adoptant les resolucions i duent a terme les actuacions que per a la seva importància o interès els afectin individualment o col·lectivament, o afectin els interessos generals de la ciutat.</p>
            </div>
            <div>
                <h4>Fomentar l'associacionisme...</h4>
                <p>Fomentar l’associacionisme entre els veïns de l’àmbit territorial com a instrument de participació i defensa dels interessos generals dels veïns.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>Heber M.Rodriguez Cabrera</p>
        <p>Data de creació <time datetime="2022-01-02">02-01-2022</time></p>
    </footer>
</body>
</html>